<%= form_for(@post) do |f| %>
  <div id="error_messages">
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="field">
    <%= f.text_field :title, placeholder: "Name your post..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
 <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
